.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
}

.home-interior {
  align-items: start
}

h1 {
    color: #191919;
    font-size: 4rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #3E2C41;
}

a {
    display: block;
    text-decoration: none;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    color: #3E2C41;
}

a:hover {
    text-decoration: underline;
}

i {
    margin: 0 10px;
}
