<h2 class="my-3">Listagem de clientes</h2>
<hr>
<table class="table table-bordered table-hover">
    <thead class=" table-dark">
        <tr>
            <th scope="col" hidden></th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Celular</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes$ | async">
            <th scope="row" hidden #clienteIdCell>{{ cliente.id }}</th>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.celular }}</td>
            <td class="td-options">
                <a [routerLink]="'editar/' + clienteIdCell.innerText" class="me-3">
                    <i class="fa-solid fa-file-pen" style="color: green">
                    </i>
                </a>
                <a class="me-3"
                    style="cursor: pointer;"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteOptionModal"
                    (click)="openModal()"
                >
                    <i class="fa-solid fa-trash-can" style="color: red">
                    </i>
                </a>
                <a [routerLink]="'detalhes/' + clienteIdCell.innerText" class="me-3">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div [innerHTML]="openModalDelete"></div>
