.navbar {
    display: flex;
    align-items: center;
    background-color: #191919;
    height: 58px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
}

.logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 10px;
    margin: 0 10px;
}

.navbar ul {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #bbbbbb;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    top: 3px;
    position: relative;
}

.nav-link:hover {
    transition: 0.2s;
    color: #fff;
}

.active {
    border-bottom: 3px solid #fff;
    color: #fff;
}
