<div class="center">
    <form class="login" (submit)="onSubmit()" [formGroup]="formLogin">
        <div class="row">
            <div class="col-12 px-5 pb-1">
                <h2 class="login-title">Sign in</h2>
            </div>
            <div class="col-12 px-5 pb-2">
                <label for="email-login" class="form-label fw-semibold">Email</label>
                <input type="email" id="email-login" class="form-control" placeholder="example@example.com" formControlName="email">
            </div>
            <div class="col-12 px-5 pb-2">
                <label for="password-login" class="form-label fw-semibold">Senha</label>
                <input type="password" id="password-login" class="form-control" formControlName="password">
            </div>
            <div class="col-12 px-5 pt-3 login-btn-center">
                <input type="submit" class="btn btn-primary w-100" value="Entrar">
            </div>
        </div>
    </form>
</div>
